.footer {
  color: white;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer__contact-title {
  text-align: center;
  /*make orange*/
}

.footer__contacts {
  margin: 0;
  padding: 10px;
  display: flex;
  gap: 30px;
  list-style: none;
  /*make zombie (light)green*/
}

.footer__link {
  color: #0a6e4d;
}

.footer__link:hover {
  cursor: pointer;
  color: #17eea6;
}

.footer__copyright {
  margin: 10px 0 0;
  text-align: center;
  color: #ff7518;
}
