.header {
  color: #ff7518;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.header__logo-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__logo {
  width: 150px;
  height: 150px;
}

.header__title {
  font-size: 88px;
  padding: 0;
  margin: 0;
}
