.modal {
  display: none;
  visibility: hidden;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 1;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 900px;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.modal__close-button {
  background-image: url(../assets/close-button-card-modal.svg);
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal__close-button:hover {
  opacity: 40%;
  cursor: pointer;
}

.modal__close-button_delete {
  background-image: url(../assets/closebuttondark.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 5px;
  top: 20px;
}

.modal__close-button_delete-delete:hover {
  opacity: 40%;
  cursor: pointer;
}

.modal__close-button_confirmation {
  background-image: none;
}

.modal__container_card {
  background-color: transparent;
  align-items: center;
}

.modal__card-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  background-color: white;
  max-width: 80vh;
  max-height: 80vw;
}

.modal-card__image {
  width: 100%;
  height: auto;
  max-height: 60vh;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal-card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  gap: 40px;
}

.modal-card__info-title {
  font-size: 30px;
  margin: 0;
}

.modal-card__info-description {
  font-size: 18px;
  margin: 0;
  padding-top: 10px;
}

.modal-card__info-time {
  font-size: 18px;
  margin: 0;
  padding-top: 10px;
}

.modal-card__save-btn {
  border: none;
  background: linear-gradient(to bottom, #0d0d0d, #1f012a);
  color: white;
  border-radius: 75px;
  height: 50px;
  width: 140px;
  padding: 0;
  font-size: 20px;
}
.modal-card__save-btn:hover {
  opacity: 40%;
  cursor: pointer;
}

.modal-card__delete-btn {
  border: none;
  background: linear-gradient(to bottom, #0d0d0d, #1f012a);
  color: white;
  border-radius: 75px;
  height: 50px;
  width: 140px;
  padding: 0;
  font-size: 20px;
}

.modal-card__delete-btn:hover {
  opacity: 40%;
  cursor: pointer;
}

.delete-modal__content {
  margin: 0 auto;
  width: 367px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.delete-modal__text {
  margin: 60px 0 40px 0;
  line-height: 24px;
}

.delete-modal__buttons {
  background: transparent;
  border: none;
  transition: opacity 0.2s ease-in-out;
  line-height: 24px;
}

.delete-modal__buttons:hover {
  cursor: pointer;
  opacity: 70%;
}

.delete-modal__button-confirm {
  color: red;
  margin: 0 0 24px 0;
  padding: 0;
}

.delete-modal__button-cancel {
  margin: 0 0 30px 0;
  padding: 0;
}

.modal__container-wrapper {
  height: 125px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-confirmation__info-title {
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 718px) {
  .modal__card-wrapper {
    width: 90%;
    max-height: 85vh;
  }
  .modal__card-image {
    max-height: 250px;
  }

  .modal-card__details {
    padding: 20px;
  }

  .modal-card__info-title {
    font-size: 20px;
  }

  .modal-card__info-description,
  .modal-card__info-time {
    font-size: 14px;
  }

  .modal-card__save-btn {
    width: 100px;
    height: 40px;
    font-size: 16px;
  }
}
