.page {
  background: linear-gradient(to bottom, #0d0d0d, #1f012a);
  min-height: 100vh;
  font-family: Creepster, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  padding: 0px 14px;
}

.page-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  min-height: 100vh;
}

@media screen and (max-width: 800px) {
  .page-content {
    padding: 0 20px;
  }
}

@media screen and (max-width: 510px) {
  .page-content {
    padding: 0;
  }
}
